@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background-image: url("../public/gradient.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-position: center; /* Try adjusting this */
}
